.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    /* padding: 0 15px; */
    margin: 10px 10px 0px 10px;
}
.headder2 * {
    text-decoration: none;
    color: #03045e;
    box-sizing: border-box;
}
.head2 {
    display: grid;
    grid-template-columns: 0.4fr 1.8fr 0.4fr;
    grid-template-rows: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}
.menu-icon2 {
    font-size: 30px;
    text-align: center;
}
.menu-icon2 ion-icon {
    margin-top: 5px;
}
.sidebar-header2 {
    text-decoration: none;
    color: #03045e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
}
.sidebar-header2 ion-icon {
    font-size: 40px;
}

.right-sideba2 .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    width: max-content;
    padding: 0 5px;
    height: 35px;
    background-color: #3f62ff;
    color: white;
}
.modal {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    width: 70%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.25); */
    background-color: #fff;
    border-right: 1px solid #e4e4e4;
    transition: all 2s linear;
    border-top: 1px solid #e4e4e4;
}
.menu2 {
    padding-top: 10px;
    line-height: 1.5;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transition: all 2s linear;
    padding-left: 10px;
}
.search2 {
    width: 100%;
}
.search2 form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
.search-input {
    width: 70%;
    background-color: #ffffff;
    border-color: #0f1544;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    padding: 1px 2px;
}
.search-submit {
    width: 20%;
    background-color: #0f1544;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    padding-top: 5px;
}

.menu-item2{
    text-decoration: none;
    color: #0f1544;
    font-size: 20px;
    line-height: 2.5;
}
.menu-item2:nth-child(2) ion-icon{
    color: #d62828;
}
.menu-item2:nth-child(3) ion-icon{
    color: #f4a261;
}
.menu-item2:nth-child(4) ion-icon{
    color: #00b4d8;
}
.toggle{
    display: none !important;
}
.menu-icon2:hover{
    opacity: 0.5;
}
